[submodule "bundle/coveragepy"]
	path = bundle/coveragepy
	url = https://github.com/alfredodeza/coveragepy.vim.git
[submodule "bundle/hexman"]
	path = bundle/hexman
	url = https://github.com/vim-scripts/hexman.vim.git
[submodule "bundle/pytest"]
	path = bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/tabops"]
	path = bundle/tabops
	url = https://github.com/vim-scripts/tabops.git
[submodule "bundle/conque-shell"]
	path = bundle/conque-shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/large_file"]
	path = bundle/large_file
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
